<div class="content-body">
  <div class="container-fluid">
    <div class="d-flex align-items-center flex-wrap search-job bg-white mb-4">
      <div class="col-xl-8 col-xxl-6 col-lg-6 col-12 d-md-flex job-title-search pe-0">
        <div class="input-group search-area">
          <input type="text" name="search" [(ngModel)]='searchText' class="form-control h-auto" placeholder="Search agence here...">
          <span class="input-group-text">
          </span>
        </div>
      </div>
    </div>
    <div class="d-sm-flex d-block justify-content-between align-items-center mb-4">
      <div class="card-action coin-tabs mt-3 mt-sm-0">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" (click)="filterByStatus('')">All Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" (click)="filterByStatus('OCCUPER')">Occuper</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" (click)="filterByStatus('NON_OCCUPER')">Non Occuper</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="d-flex align-items-center mb-4 flex-wrap">
      <h3 class="me-auto">Immeubles</h3>
      <div>
        <a class="btn btn-primary me-3 btn-sm" (click)="initForm()" data-bs-toggle="modal" data-bs-target="#addImmeuble"><i
            class="fas fa-plus me-2"></i>Add New Immeuble</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="table-responsive">
          <table class="table display mb-4 dataTablesCard job-table table-responsive-xl card-table" id="example5">
            <thead>
              <tr>
                <th>No</th>
                <th>Reference immeuble</th>
                <th>Address</th>
                <th>Number etage</th>
                <th>Number appartement</th>
                <th>Annee contruction</th>
                <th>Status immeuble</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let immeuble of immeubleList | filter:searchText">
                <td>{{ immeuble.id }}</td>
                <td class="wspace-no">{{ immeuble.referenceImmeuble }}</td>
                <td>{{ immeuble.address }}</td>
                <td>{{ immeuble.numberEtage }}</td>
                <td>{{ immeuble.numberApparetement }}</td>
                <td>{{ immeuble.anneeConstruction | date: 'dd/MM/yyyy' }}</td>
                <td>
                  <span class="btn btn-sm btn-rounded"
                    [ngClass]="{'btn-warning': immeuble.statusImmeuble === 'OCCUPER', 'btn-success': immeuble.statusImmeuble === 'NON_OCCUPER'}">
                    {{ immeuble.statusImmeuble }}
                  </span>
                </td>
                <td class="action-btn wspace-no">
                  <span>
                    <a href="javascript:void(0);" (click)="editImmeuble(immeuble)" data-bs-toggle="modal"
                      data-bs-target="#editImmeuble"><i class="fas fa-edit text-warning"></i></a>
                  </span>
                  <span>
                    <a href="javascript:void(0);" (click)="deleteImmeuble(immeuble)" data-bs-toggle="modal"
                      data-bs-target="#deleteImmeuble"><i class="far fa-trash-alt text-danger"></i></a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-between">
            <button class="btn btn-primary" (click)="previousPage()">Previous</button>
            <button class="btn btn-primary" (click)="nextPage()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Immeuble save-->
<div class="modal fade" id="addImmeuble" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Immeuble</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="immeubleRequest">
          <div class="mb-3 row">
            <label for="name" class="col-xl-3 col-md-4 col-form-label">
              Reference immeuble<span class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="immeubleRequest.get('referenceImmeuble')?.invalid && immeubleRequest.get('referenceImmeuble')?.touched"
                formControlName="referenceImmeuble" type="text" class="form-control" placeholder="Reference immeuble"
                aria-label="name" />
              <div
                *ngIf="immeubleRequest.get('referenceImmeuble')?.invalid && immeubleRequest.get('referenceImmeuble')?.touched"
                class="text-danger">
                Reference immeuble is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="address" class="col-xl-3 col-md-4 col-form-label">Address<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="immeubleRequest.get('address')?.invalid && immeubleRequest.get('address')?.touched"
                formControlName="address" type="text" class="form-control" id="address" placeholder="Address"
                aria-label="address" />
              <div *ngIf="immeubleRequest.get('address')?.invalid && immeubleRequest.get('address')?.touched"
                class="text-danger">
                Address is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="email" class="col-xl-3 col-md-4 col-form-label">Number etage<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="immeubleRequest.get('numberEtage')?.invalid && immeubleRequest.get('numberEtage')?.touched"
                formControlName="numberEtage" type="number" class="form-control" aria-label="numberEtage"
                placeholder="Number of etage">
              <div *ngIf="immeubleRequest.get('numberEtage')?.invalid && immeubleRequest.get('numberEtage')?.touched"
                class="text-danger">
                Number of etage is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="phone" class="col-xl-3 col-md-4 col-form-label">Number of appartement<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="immeubleRequest.get('numberApparetement')?.invalid && immeubleRequest.get('numberApparetement')?.touched"
                formControlName="numberApparetement" type="number" class="form-control" id="phone" aria-label="phone"
                placeholder="Number of appartement">
              <div
                *ngIf="immeubleRequest.get('numberApparetement')?.invalid && immeubleRequest.get('numberApparetement')?.touched"
                class="text-danger">
                Number of appartement is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="phone" class="col-xl-3 col-md-4 col-form-label">Annee contruction<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">

              <input
              [class.is-invalid]="immeubleRequest.get('anneeConstruction')?.invalid && immeubleRequest.get('anneeConstruction')?.touched"
              formControlName="anneeConstruction" type="date" class="form-control" aria-label="anneeConstruction"
              placeholder="Annee construction">
                <div
                *ngIf="immeubleRequest.get('anneeConstruction')?.invalid && immeubleRequest.get('anneeConstruction')?.touched"
                class="text-danger">
                Annee contruction is required.
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSaveImmeuble()">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!--edit immeuble-->
<div class="modal fade" id="editImmeuble" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Immeuble</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="immeubleRequest">
          <div class="mb-3 row">
            <label for="name" class="col-xl-3 col-md-4 col-form-label">
              Reference immeuble<span class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="immeubleRequest.get('referenceImmeuble')?.invalid && immeubleRequest.get('referenceImmeuble')?.touched"
                formControlName="referenceImmeuble" type="text" class="form-control" placeholder="Reference immeuble"
                aria-label="name" />
              <div
                *ngIf="immeubleRequest.get('referenceImmeuble')?.invalid && immeubleRequest.get('referenceImmeuble')?.touched"
                class="text-danger">
                Reference immeuble is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="address" class="col-xl-3 col-md-4 col-form-label">Address<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="immeubleRequest.get('address')?.invalid && immeubleRequest.get('address')?.touched"
                formControlName="address" type="text" class="form-control" id="address" placeholder="Address"
                aria-label="address" />
              <div *ngIf="immeubleRequest.get('address')?.invalid && immeubleRequest.get('address')?.touched"
                class="text-danger">
                Address is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="email" class="col-xl-3 col-md-4 col-form-label">Number etage<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="immeubleRequest.get('numberEtage')?.invalid && immeubleRequest.get('numberEtage')?.touched"
                formControlName="numberEtage" type="number" class="form-control" aria-label="numberEtage"
                placeholder="Number of etage">
              <div *ngIf="immeubleRequest.get('numberEtage')?.invalid && immeubleRequest.get('numberEtage')?.touched"
                class="text-danger">
                Number of etage is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="phone" class="col-xl-3 col-md-4 col-form-label">Number of appartement<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="immeubleRequest.get('numberApparetement')?.invalid && immeubleRequest.get('numberApparetement')?.touched"
                formControlName="numberApparetement" type="number" class="form-control" id="phone" aria-label="phone"
                placeholder="Number of apparetement">
              <div
                *ngIf="immeubleRequest.get('numberApparetement')?.invalid && immeubleRequest.get('numberApparetement')?.touched"
                class="text-danger">
                Number of appartement is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="phone" class="col-xl-3 col-md-4 col-form-label">Annee construction<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="immeubleRequest.get('anneeConstruction')?.invalid && immeubleRequest.get('anneeConstruction')?.touched"
                class="form-control" type="date" formControlName="anneeConstruction" placeholder="YYYY-MM-DD">
              <div *ngIf="immeubleRequest.get('anneeConstruction')?.invalid && immeubleRequest.get('anneeConstruction')?.touched"
                class="text-danger">
                Annee construction is required.
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onUpdateImmeuble()">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!--delete immeuble-->

<div class="modal fade" id="deleteImmeuble" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Agence</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="immeubleRequest">
          <p class="text-danger">Are you sure , You want to delete this ligne ?</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="onDeleteImmeuble()" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
