<div class="content-body">
  <div class="container-fluid">
    <div class="d-flex align-items-center flex-wrap search-job bg-white mb-4">
      <div class="col-xl-8 col-xxl-6 col-lg-6 col-12 d-md-flex job-title-search pe-0">
        <div class="input-group search-area">
          <input type="text" name="search" [(ngModel)]='searchText' class="form-control h-auto" placeholder="Search agence here...">
          <span class="input-group-text">
          </span>
        </div>
      </div>
    </div>
    <div class="d-sm-flex d-block justify-content-between align-items-center mb-4">
      <div class="card-action coin-tabs mt-3 mt-sm-0">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" (click)="filterByStatus('')">All Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" (click)="filterByStatus('OCCUPER')">Occuper</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" (click)="filterByStatus('LIBRE')">Libre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" (click)="filterByStatus('LOUER')">Louer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" (click)="filterByStatus('VENTE')">Vente</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="d-flex align-items-center mb-4 flex-wrap">
      <h3 class="me-auto">Appartements</h3>
      <div>
        <a class="btn btn-primary me-3 btn-sm" (click)="initForm()" data-bs-toggle="modal" data-bs-target="#addAppartement"><i
            class="fas fa-plus me-2"></i>Add New Appartement</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="table-responsive">
          <table class="table display mb-4 dataTablesCard job-table table-responsive-xl card-table" id="example5">
            <thead>
              <tr>
                <th>No</th>
                <th>Reference appartement</th>
                <th>Number chambre</th>
                <th>Surface</th>
                <th>Prix location</th>
                <th>Immeuble</th>
                <th>Prix vente</th>
                <th>Status appartement</th>
                <th>Etat appartement</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let appartement of appartmentList | filter:searchText">
                <td>{{ appartement.id }}</td>
                <td class="wspace-no">{{ appartement.referenceAppartement }}</td>
                <td>{{ appartement.numberChambre }}</td>
                <td>{{ appartement.surface }} m²</td>
                <td>{{ appartement.prixLocation }}</td>
                <td>{{ appartement.immeuble.referenceImmeuble }}</td>
                <td>{{ appartement.prixVente }}</td>
                <td>
                  <span class="btn btn-sm btn-rounded"
                    [ngClass]="{'btn-warning': appartement.statusAppartement === 'LOUER', 'btn-success': appartement.statusAppartement === 'VENTE'}">
                    {{ appartement.statusAppartement }}
                  </span>
                </td>
                <td>
                  <span class="btn btn-sm btn-rounded"
                    [ngClass]="{'btn-warning': appartement.etatAppartement === 'OCCUPER', 'btn-success': appartement.etatAppartement === 'LIBRE'}">
                    {{ appartement.etatAppartement }}
                  </span>
                </td>
                <td class="action-btn wspace-no">
                  <span>
                    <a href="javascript:void(0);" (click)="editAppartment(appartement)" data-bs-toggle="modal"
                      data-bs-target="#editAppartment"><i class="fas fa-edit text-warning"></i></a>
                  </span>
                  <span>
                    <a href="javascript:void(0);" (click)="deleteAppartement(appartement)" data-bs-toggle="modal"
                      data-bs-target="#deleteAppartement"><i class="far fa-trash-alt text-danger"></i></a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-between">
            <button class="btn btn-primary" (click)="previousPage()">Previous</button>
            <button class="btn btn-primary" (click)="nextPage()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Immeuble save -->
<div class="modal fade" id="addAppartement" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Appartement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="appartmentRequest">
          <div class="mb-3 row">
            <label for="name" class="col-xl-3 col-md-4 col-form-label">
              Reference appartment<span class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="appartmentRequest.get('referenceAppartement')?.invalid && appartmentRequest.get('referenceAppartement')?.touched"
                formControlName="referenceAppartement" type="text" class="form-control" placeholder="Reference Appartement"
                aria-label="name" />
              <div
                *ngIf="appartmentRequest.get('referenceAppartement')?.invalid && appartmentRequest.get('referenceAppartement')?.touched"
                class="text-danger">
                Reference appartement is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="address" class="col-xl-3 col-md-4 col-form-label">Number of chambre<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="appartmentRequest.get('numberChambre')?.invalid && appartmentRequest.get('numberChambre')?.touched"
                formControlName="numberChambre" type="number" class="form-control" id="address" placeholder="Numbre of chambre"
                aria-label="address" />
              <div *ngIf="appartmentRequest.get('numberChambre')?.invalid && appartmentRequest.get('numberChambre')?.touched"
                class="text-danger">
                Number of chambre is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="email" class="col-xl-3 col-md-4 col-form-label">Surface<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="appartmentRequest.get('surface')?.invalid && appartmentRequest.get('surface')?.touched"
                formControlName="surface" type="number" class="form-control" aria-label="surface"
                placeholder="Surface">
              <div *ngIf="appartmentRequest.get('surface')?.invalid && appartmentRequest.get('surface')?.touched"
                class="text-danger">
                Surface is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="phone" class="col-xl-3 col-md-4 col-form-label">Prix location<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="appartmentRequest.get('prixLocation')?.invalid && appartmentRequest.get('prixLocation')?.touched"
                formControlName="prixLocation" type="number" class="form-control" aria-label="prixLocation"
                placeholder="Prix location">
              <div
                *ngIf="appartmentRequest.get('prixLocation')?.invalid && appartmentRequest.get('prixLocation')?.touched"
                class="text-danger">
                Prix location is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="phone" class="col-xl-3 col-md-4 col-form-label">Prix vente<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">

              <input
              [class.is-invalid]="appartmentRequest.get('prixVente')?.invalid && appartmentRequest.get('prixVente')?.touched"
              formControlName="prixVente" type="number" class="form-control" aria-label="prixVente"
              placeholder="Prix vente">
                <div
                *ngIf="appartmentRequest.get('prixVente')?.invalid && appartmentRequest.get('prixVente')?.touched"
                class="text-danger">
                Prix vente is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="role" class="col-xl-3 col-md-4 col-form-label">Immeuble<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <select [class.is-invalid]="appartmentRequest.get('immeubleId')?.invalid && appartmentRequest.get('immeubleId')?.touched"
                formControlName="immeubleId" class="default-select form-control wide">
                <option *ngFor="let immeuble of immeubles" [value]="immeuble.id">{{ immeuble.referenceImmeuble }}</option>
              </select>
              <div>
                <div *ngIf="appartmentRequest.get('immeubleId')?.invalid && appartmentRequest.get('immeubleId')?.touched"
                class="text-danger">
                Immeuble is required.
              </div>
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="role" class="col-xl-3 col-md-4 col-form-label">Status appartement<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <select [class.is-invalid]="appartmentRequest.get('statusAppartement')?.invalid && appartmentRequest.get('statusAppartement')?.touched"
                formControlName="statusAppartement" class="default-select form-control ">
                <option value="VENTE">Vente</option>
                <option value="LOUER">Loyer</option>
              </select>
              <div *ngIf="appartmentRequest.get('statusAppartement')?.invalid && appartmentRequest.get('statusAppartement')?.touched"
              class="text-danger">
              Status appartement is required.
            </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSaveAppartment()">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editAppartment" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Appartement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="appartmentRequest">
          <div class="mb-3 row">
            <label for="name" class="col-xl-3 col-md-4 col-form-label">
              Reference appartment<span class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="appartmentRequest.get('referenceAppartement')?.invalid && appartmentRequest.get('referenceAppartement')?.touched"
                formControlName="referenceAppartement" type="text" class="form-control" placeholder="Reference Appartement"
                aria-label="name" />
              <div
                *ngIf="appartmentRequest.get('referenceAppartement')?.invalid && appartmentRequest.get('referenceAppartement')?.touched"
                class="text-danger">
                Reference appartement is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="address" class="col-xl-3 col-md-4 col-form-label">Number of chambre<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="appartmentRequest.get('numberChambre')?.invalid && appartmentRequest.get('numberChambre')?.touched"
                formControlName="numberChambre" type="number" class="form-control" id="address" placeholder="Numbre of chambre"
                aria-label="address" />
              <div *ngIf="appartmentRequest.get('numberChambre')?.invalid && appartmentRequest.get('numberChambre')?.touched"
                class="text-danger">
                Number of chambre is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="email" class="col-xl-3 col-md-4 col-form-label">Surface<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="appartmentRequest.get('surface')?.invalid && appartmentRequest.get('surface')?.touched"
                formControlName="surface" type="number" class="form-control" aria-label="surface"
                placeholder="Surface">
              <div *ngIf="appartmentRequest.get('surface')?.invalid && appartmentRequest.get('surface')?.touched"
                class="text-danger">
                Surface is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="phone" class="col-xl-3 col-md-4 col-form-label">Prix location<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="appartmentRequest.get('prixLocation')?.invalid && appartmentRequest.get('prixLocation')?.touched"
                formControlName="prixLocation" type="number" class="form-control" aria-label="prixLocation"
                placeholder="Prix location">
              <div
                *ngIf="appartmentRequest.get('prixLocation')?.invalid && appartmentRequest.get('prixLocation')?.touched"
                class="text-danger">
                Prix location is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="phone" class="col-xl-3 col-md-4 col-form-label">Prix vente<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">

              <input
              [class.is-invalid]="appartmentRequest.get('prixVente')?.invalid && appartmentRequest.get('prixVente')?.touched"
              formControlName="prixVente" type="number" class="form-control" aria-label="prixVente"
              placeholder="Prix vente">
                <div
                *ngIf="appartmentRequest.get('prixVente')?.invalid && appartmentRequest.get('prixVente')?.touched"
                class="text-danger">
                Prix vente is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="role" class="col-xl-3 col-md-4 col-form-label">Immeuble<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <select formControlName="immeubleId" class="form-control wide">
                <option *ngFor="let immeuble of immeubles" [value]="immeuble.id" [selected]="immeuble.id === appartmentRequest.value.immeubleId">{{ immeuble.referenceImmeuble }}</option>
              </select>
              <div>
                <div *ngIf="appartmentRequest.get('immeubleId')?.invalid && appartmentRequest.get('immeubleId')?.touched"
                class="text-danger">
                Immeuble is required.
              </div>
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="role" class="col-xl-3 col-md-4 col-form-label">Status appartement<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <select formControlName="statusAppartement" class="form-control ">
                <option value="VENTE" [selected]="'VENTE' === appartmentRequest.value.statusAppartement">Vente</option>
                <option value="LOUER" [selected]="'LOUER' === appartmentRequest.value.statusAppartement">Loyer</option>
              </select>
              <div *ngIf="appartmentRequest.get('statusAppartement')?.invalid && appartmentRequest.get('statusAppartement')?.touched"
              class="text-danger">
              Status appartement is required.
            </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onUpdateAppartement()">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteAppartement" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete appartement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="appartmentRequest">
          <p class="text-danger">Are you sure , You want to delete this ligne ?</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="onDeleteAppartement()" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
