<div class="content-body">
  <div class="container-fluid">

    <!-- Breadcrumb -->
    <div class="row page-titles">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">App</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">Profile</a></li>
      </ol>
    </div>

    <!-- Profile Header -->
    <div class="row">
      <div class="col-lg-12">
        <div class="profile card card-body px-3 pt-3 pb-0">
          <div class="profile-head">
            <div class="photo-content">
              <div class="cover-photo rounded"></div>
            </div>
            <div class="profile-info">
              <div class="profile-photo">
                <img [src]="loggedInfo.medias[0].uri" class="img-fluid rounded-circle" alt="">
              </div>
              <div class="profile-details">
                <div class="profile-name px-3 pt-2">
                  <h4 class="text-primary mb-0">{{ loggedInfo.userDto.firstname + " " + loggedInfo.userDto.lastname }}
                  </h4>
                  <p>{{ loggedInfo.userDto.dateNaissance }}</p>
                </div>
                <div class="profile-email px-2 pt-2">
                  <h4 class="text-muted mb-0">{{ loggedInfo.userDto.email }}</h4>
                  <p>Email</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Profile and Information Section -->
    <div class="row">
      <div class="col-xl-3 col-lg-4">
        <div class="clearfix">
          <div class="card card-bx author-profile m-b30">
            <div class="card-header">
              <h6 class="title">Change your photo profil</h6>
            </div>
            <div class="card-body">
              <div class="p-5">
                <div class="author-profile">
                  <form [formGroup]="userDataPhoto" class="profile-form">
                    <div class="author-media mt-4">
                      <div *ngFor="let file of selectedImage">
                        <img [src]="getImageSrc(file)" alt="Selected Image">
                      </div>
                      <div class="upload-link" title="" data-bs-toggle="tooltip" data-placement="right"
                        data-original-title="update">
                        <input [class.is-invalid]="userDataPhoto.get('multipartFiles')?.invalid && userDataPhoto.get('multipartFiles')?.touched"
                         type="file" formControlName="multipartFiles" class="update-flie" (change)="onFileChange($event)">
                        <i class="fa fa-camera"></i>
                        <div *ngIf="userDataPhoto.get('multipartFiles')?.invalid && userDataPhoto.get('multipartFiles')?.touched" class="text-danger">
                          Photo profile is required.
                        </div>
                      </div>
                    </div>
                    <div class="mx-4">
                      <button class="btn btn-primary btn-block" (click)="updateUserPhoto()">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <div class="profile-tab">
                  <div class="custom-tab-1">
                    <ul class="nav nav-tabs">
                      <li class="nav-item"><a href="#my-accouts" data-bs-toggle="tab" class="nav-link active">My Account</a></li>
                      <li class="nav-item"><a href="#change-password" data-bs-toggle="tab" class="nav-link">Change password</a></li>
                    </ul>
                    <div class="tab-content">
                      <div id="my-accouts" class="tab-pane fade active show">
                        <div class="my-post-content pt-3">
                          <div class="post-input">
                            <div class="pt-3">
                              <div class="settings-form">
                                <h4 class="text-primary">Account information</h4>
                                <form [formGroup]="userData">
                                  <div class="row">
                                    <div class="mb-3 col-md-6">
                                      <label class="form-label">{{ loggedInfo.userDto.firstname }} Firstname</label>
                                      <input [class.is-invalid]="userData.get('firstname')?.invalid && userData.get('firstname')?.touched"
                                      type="text" formControlName="firstname" placeholder="Firstname" class="form-control" value="{{ loggedInfo.userDto.firstname }}">
                                      <div *ngIf="userData.get('firstname')?.invalid && userData.get('firstname')?.touched" class="text-danger">
                                        Firstname is required.
                                      </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                      <label class="form-label">Lastname</label>
                                      <input [class.is-invalid]="userData.get('lastname')?.invalid && userData.get('lastname')?.touched"
                                      type="text" formControlName="lastname" placeholder="Lastname" class="form-control">
                                      <div *ngIf="userData.get('lastname')?.invalid && userData.get('lastname')?.touched" class="text-danger">
                                        Lastname is required.
                                      </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                      <label class="form-label">Username</label>
                                      <input [class.is-invalid]="userData.get('username')?.invalid && userData.get('username')?.touched"
                                       type="text"[value]="loggedInfo.userDto.agenceId" formControlName="username" placeholder="John" class="form-control">
                                      <div *ngIf="userData.get('username')?.invalid && userData.get('username')?.touched" class="text-danger">
                                        Username is required.
                                      </div>
                                    </div>
                                    <input type="hidden" formControlName="role">
                                    <div class="col-md-6">
                                      <label class="form-label">Birth</label>
                                      <input [class.is-invalid]="userData.get('dateNaissance')?.invalid && userData.get('dateNaissance')?.touched"
                                      class="form-control" type="date" formControlName="dateNaissance" placeholder="YYYY-MM-DD">
                                      <div *ngIf="userData.get('dateNaissance')?.invalid && userData.get('dateNaissance')?.touched" class="text-danger">
                                        Birth is required.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="mb-3">
                                        <label class="form-label">Phone</label>
                                        <input [class.is-invalid]="userData.get('telephone')?.invalid && userData.get('telephone')?.touched"
                                         type="text" formControlName="telephone" placeholder="+123 456 456" class="form-control">
                                        <div *ngIf="userData.get('telephone')?.invalid && userData.get('telephone')?.touched" class="text-danger">
                                          Phone is required.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="mb-3">
                                        <label class="form-label">Email address</label>
                                        <input [class.is-invalid]="userData.get('email')?.invalid && userData.get('email')?.touched"
                                         type="email" formControlName="email" placeholder="exemple@gmail.com" class="form-control">
                                        <div *ngIf="userData.get('email')?.errors?.['required'] && userData.get('email')?.touched" class="text-danger">
                                          Email is required.
                                        </div>
                                        <div *ngIf="userData.get('email')?.errors?.['email'] && userData.get('email')?.touched" class="text-danger">
                                          Please enter a valid email address.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-12">
                                      <div class="mb-3">
                                        <label class="form-label">Address</label>
                                        <input [class.is-invalid]="userData.get('address')?.invalid && userData.get('address')?.touched"
                                         type="text" formControlName="address"  placeholder="Rue 102, New york" class="form-control">
                                        <div *ngIf="userData.get('address')?.errors?.['required'] && userData.get('address')?.touched" class="text-danger">
                                          Address is required.
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <button type="submit" class="btn btn-primary" (click)="updateInfo()">Save changes</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="change-password" class="tab-pane fade">
                        <div class="pt-3">
                          <div class="settings-form">
                            <h4 class="text-primary">Change your password</h4>
                            <form [formGroup]="userPassword">
                              <div class="row">
                                <div class="mb-3 col-md-6">
                                  <label class="form-label">Current Password</label>
                                  <input [class.is-invalid]="userPassword.get('currentPassword')?.invalid && userPassword.get('currentPassword')?.touched"
                                   type="password" formControlName="currentPassword" placeholder="Current Password" class="form-control">
                                   <div *ngIf="userPassword.get('currentPassword')?.invalid && userPassword.get('currentPassword')?.touched" class="text-danger">
                                    Current password is required.
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="mb-3 col-md-6">
                                  <label class="form-label">New Password</label>
                                  <input [class.is-invalid]="userPassword.get('newPassword')?.invalid && userPassword.get('newPassword')?.touched"
                                   type="password" placeholder="New Password" formControlName="newPassword" class="form-control">
                                   <div *ngIf="userPassword.get('newPassword')?.errors?.['required'] && userPassword.get('newPassword')?.touched" class="text-danger">
                                    New Password is required.
                                  </div>
                                  <div *ngIf="userPassword.get('newPassword')?.errors?.['minlength'] && userPassword.get('newPassword')?.touched" class="text-danger">
                                    Password must be at least 6 characters long.
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="mb-3 col-md-6">
                                  <label class="form-label">Confirm New Password</label>
                                  <input [class.is-invalid]="userPassword.get('confirmPassword')?.invalid && userPassword.get('confirmPassword')?.touched"
                                   type="password" placeholder="Confirm New Password" formControlName="confirmPassword" class="form-control">
                                   <div *ngIf="userPassword.get('confirmPassword')?.errors?.['required'] && userPassword.get('confirmPassword')?.touched" class="text-danger">
                                    Confirm New Password is required.
                                  </div>
                                  <div *ngIf="userPassword.get('confirmPassword')?.errors?.['mismatch'] && userPassword.get('confirmPassword')?.touched" class="text-danger">
                                    Passwords do not match.
                                  </div>
                                </div>
                              </div>
                              <button class="btn btn-primary" type="submit" (click)="updatePassword()">Save changes</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
