<div class="content-body">
  <div class="container-fluid">
    <div class="d-flex align-items-center flex-wrap search-job bg-white mb-4">
      <div class="col-xl-8 col-xxl-6 col-lg-6 col-12 d-md-flex job-title-search pe-0">
        <div class="input-group search-area">
          <input type="text" name="search" [(ngModel)]='searchText' class="form-control h-auto" placeholder="Search agence here...">
          <span class="input-group-text">
          </span>
        </div>
      </div>
    </div>
    <div class="d-sm-flex d-block justify-content-between align-items-center mb-4">
      <div class="card-action coin-tabs mt-3 mt-sm-0">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" (click)="filterByStatus('')">All Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" (click)="filterByStatus('PAYE')">Paye</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" (click)="filterByStatus('NO_PAYE')">No Paye</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" (click)="filterByStatus('PAYE_EN_RETARD')">Paye en retard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" (click)="filterByStatus('PAYMENT_LOYER')">Payment loyer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" (click)="filterByStatus('PAYMENT_CHARGE')">Payment charge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" (click)="filterByStatus('PAYMENT_FRAIS_DOSSIER')">Payment frais dossier</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" (click)="filterByStatus('ESPECES')">Especes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" (click)="filterByStatus('VIREMENT_BANCAIRE')">Virement bancaire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" (click)="filterByStatus('CHEQUE')">Cheque</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="d-flex align-items-center mb-4 flex-wrap">
      <h3 class="me-auto">Payment contract loyer</h3>
      <div>
        <a class="btn btn-primary me-3 btn-sm" (click)="initForm()" data-bs-toggle="modal" data-bs-target="#addPaymentLoyer"><i
            class="fas fa-plus me-2"></i>Add New Payment contract loyer</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="table-responsive">
          <table class="table display mb-4 dataTablesCard job-table table-responsive-xl card-table" id="example5">
            <thead>
              <tr>
                <th>No</th>
                <th>Status payment</th>
                <th>Contract</th>
                <th>Montant Paye</th>
                <th>Type payment</th>
                <th>Methode payment</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let paymentLoyer of paymentLoyerList | filter:searchText">
                <td>{{ paymentLoyer.id }}</td>
                <td>
                  <span class="btn btn-sm btn-rounded"
                    [ngClass]="{'text-success': paymentLoyer.statusPaymentContrat  === 'PAYE'
                    , 'text-danger': paymentLoyer.statusPaymentContrat  === 'NO_PAYE'
                    , 'text-warning': paymentLoyer.statusPaymentContrat === 'PAYE_EN_RETARD'}">
                    {{ paymentLoyer.statusPaymentContrat  }}
                  </span>
                </td>
                <td>{{ paymentLoyer.contrat.refContrat }}</td>
                <td>{{ paymentLoyer.montantPaye }}</td>
                <td>
                  <span class="btn btn-sm btn-rounded"
                    [ngClass]="{'btn-dark': paymentLoyer.typePaymentContratLoyer  === 'PAYMENT_LOYER'
                    , 'btn-warning': paymentLoyer.typePaymentContratLoyer  === 'PAYMENT_CHARGE'
                    , 'btn-danger': paymentLoyer.typePaymentContratLoyer  === 'PAYMENT_FRAIS_DOSSIER'}">
                    {{ paymentLoyer.typePaymentContratLoyer  }}
                  </span>
                </td>

                <td>
                  <span class="btn btn-sm btn-rounded"
                    [ngClass]="{'btn-dark': paymentLoyer.methodePaymentContratLoyer  === 'ESPECES'
                    , 'btn-warning': paymentLoyer.methodePaymentContratLoyer  === 'VIREMENT_BANCAIRE'
                    , 'btn-danger': paymentLoyer.methodePaymentContratLoyer  === 'CHEQUE'}">
                    {{ paymentLoyer.methodePaymentContratLoyer  }}
                  </span>
                </td>

                <td class="action-btn wspace-no">
                  <span>
                    <a href="javascript:void(0);" (click)="editPaymentLoyer(paymentLoyer)" data-bs-toggle="modal"
                      data-bs-target="#editPaymentLoyer"><i class="fas fa-edit text-warning"></i></a>
                  </span>
                  <span>
                    <a href="javascript:void(0);" (click)="deletePaymentLoyer(paymentLoyer)" data-bs-toggle="modal"
                      data-bs-target="#deletePaymentLoyer"><i class="far fa-trash-alt text-danger"></i></a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-between">
            <button class="btn btn-primary" (click)="previousPage()">Previous</button>
            <button class="btn btn-primary" (click)="nextPage()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- payment loyer save -->
<div class="modal fade" id="addPaymentLoyer" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Payment Contrat loyer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="paymentLoyerRequest">
          <div class="mb-3 row">
            <label for="email" class="col-xl-3 col-md-4 col-form-label">Montant Paye<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="paymentLoyerRequest.get('montantPaye')?.invalid && paymentLoyerRequest.get('montantPaye')?.touched"
                formControlName="montantPaye" type="text" class="form-control" aria-label="sujet"
                placeholder="montant paye">
              <div *ngIf="paymentLoyerRequest.get('montantPaye')?.invalid && paymentLoyerRequest.get('montantPaye')?.touched"
                class="text-danger">
                Montant paye is required.
              </div>
            </div>
          </div>

        <div class="mb-3 row">
          <label for="role" class="col-xl-3 col-md-4 col-form-label">Status payment contrat<span
              class="text-danger scale5 ms-2">*</span></label>
          <div class="col-xl-9 col-md-8">
            <select [class.is-invalid]="paymentLoyerRequest.get('statusPaymentContrat')?.invalid && paymentLoyerRequest.get('statusPaymentContrat')?.touched"
              formControlName="statusPaymentContrat" class="form-control wide">
              <option value="">------</option>
              <option value="PAYE">Paye</option>
              <option value="PAYE_EN_RETARD">Paye en retard</option>
              <option value="NO_PAYE">No paye</option>
            </select>
            <div *ngIf="paymentLoyerRequest.get('statusPaymentContrat')?.invalid && paymentLoyerRequest.get('statusPaymentContrat')?.touched"
            class="text-danger">
            Status payment contrat is required.
          </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="role" class="col-xl-3 col-md-4 col-form-label">Type payment contrat<span
              class="text-danger scale5 ms-2">*</span></label>
          <div class="col-xl-9 col-md-8">
            <select [class.is-invalid]="paymentLoyerRequest.get('typePaymentContratLoyer')?.invalid && paymentLoyerRequest.get('typePaymentContratLoyer')?.touched"
              formControlName="typePaymentContratLoyer" class="form-control wide">
              <option value="">------</option>
              <option value="PAYMENT_LOYER">Payment loyer</option>
              <option value="PAYMENT_CHARGE">Payment charge</option>
              <option value="PAYMENT_FRAIS_DOSSIER">Payment frais dossier</option>
            </select>
            <div *ngIf="paymentLoyerRequest.get('typePaymentContratLoyer')?.invalid && paymentLoyerRequest.get('typePaymentContratLoyer')?.touched"
            class="text-danger">
            Type payment contrat is required.
          </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="role" class="col-xl-3 col-md-4 col-form-label">Methode payment contrat<span
              class="text-danger scale5 ms-2">*</span></label>
          <div class="col-xl-9 col-md-8">
            <select [class.is-invalid]="paymentLoyerRequest.get('methodePaymentContratLoyer')?.invalid && paymentLoyerRequest.get('methodePaymentContratLoyer')?.touched"
              formControlName="methodePaymentContratLoyer" class="form-control wide">
              <option value="">------</option>
              <option value="ESPECES">Espece</option>
              <option value="VIREMENT_BANCAIRE">Virement bancaire</option>
              <option value="CHEQUE">Cheque</option>
            </select>
            <div *ngIf="paymentLoyerRequest.get('methodePaymentContratLoyer')?.invalid && paymentLoyerRequest.get('methodePaymentContratLoyer')?.touched"
            class="text-danger">
            Methode payment contrat is required.
          </div>
          </div>
        </div>

          <div class="mb-3 row">
            <label for="role" class="col-xl-3 col-md-4 col-form-label">Contrats<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <select [class.is-invalid]="paymentLoyerRequest.get('contratId')?.invalid && paymentLoyerRequest.get('contratId')?.touched"
                formControlName="contratId" class=" form-control wide">
                <option value="">-----</option>
                <option *ngFor="let contrat of contrats" [value]="contrat.id">{{ contrat.refContrat }}</option>
              </select>
              <div>
                <div *ngIf="paymentLoyerRequest.get('contratId')?.invalid && paymentLoyerRequest.get('contratId')?.touched"
                class="text-danger">
                Contrat is required.
              </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSavePaymentLoyer()">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- payment loyer edit -->
<div class="modal fade" id="editPaymentLoyer" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Payment Contrat loyer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="paymentLoyerRequest">
          <div class="mb-3 row">
            <label for="email" class="col-xl-3 col-md-4 col-form-label">Montant Paye<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="paymentLoyerRequest.get('montantPaye')?.invalid && paymentLoyerRequest.get('montantPaye')?.touched"
                formControlName="montantPaye" type="text" class="form-control" aria-label="sujet"
                placeholder="montant paye">
              <div *ngIf="paymentLoyerRequest.get('montantPaye')?.invalid && paymentLoyerRequest.get('montantPaye')?.touched"
                class="text-danger">
                Montant paye is required.
              </div>
            </div>
          </div>

        <div class="mb-3 row">
          <label for="role" class="col-xl-3 col-md-4 col-form-label">Status payment contrat<span
              class="text-danger scale5 ms-2">*</span></label>
          <div class="col-xl-9 col-md-8">
            <select [class.is-invalid]="paymentLoyerRequest.get('statusPaymentContrat')?.invalid && paymentLoyerRequest.get('statusPaymentContrat')?.touched"
              formControlName="statusPaymentContrat" class="form-control wide">
              <option value="">------</option>
              <option value="PAYE" [selected]="'PAYE' === paymentLoyerRequest.value.statusPaymentContrat">Paye</option>
              <option value="PAYE_EN_RETARD" [selected]="'PAYE_EN_RETARD' === paymentLoyerRequest.value.statusPaymentContrat">Paye en retard</option>
              <option value="NO_PAYE" [selected]="'NO_PAYE' === paymentLoyerRequest.value.statusPaymentContrat" >No paye</option>
            </select>
            <div *ngIf="paymentLoyerRequest.get('statusPaymentContrat')?.invalid && paymentLoyerRequest.get('statusPaymentContrat')?.touched"
            class="text-danger">
            Status payment contrat is required.
          </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="role" class="col-xl-3 col-md-4 col-form-label">Type payment contrat<span
              class="text-danger scale5 ms-2">*</span></label>
          <div class="col-xl-9 col-md-8">
            <select [class.is-invalid]="paymentLoyerRequest.get('typePaymentContratLoyer')?.invalid && paymentLoyerRequest.get('typePaymentContratLoyer')?.touched"
              formControlName="typePaymentContratLoyer" class="form-control wide">
              <option value="">------</option>
              <option value="PAYMENT_LOYER" [selected]="'PAYMENT_LOYER' === paymentLoyerRequest.value.typePaymentContratLoyer" >Payment loyer</option>
              <option value="PAYMENT_CHARGE" [selected]="'PAYMENT_CHARGE' === paymentLoyerRequest.value.typePaymentContratLoyer" >Payment charge</option>
              <option value="PAYMENT_FRAIS_DOSSIER" [selected]="'PAYMENT_FRAIS_DOSSIER' === paymentLoyerRequest.value.typePaymentContratLoyer" >Payment frais dossier</option>
            </select>
            <div *ngIf="paymentLoyerRequest.get('typePaymentContratLoyer')?.invalid && paymentLoyerRequest.get('typePaymentContratLoyer')?.touched"
            class="text-danger">
            Type payment contrat is required.
          </div>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="role" class="col-xl-3 col-md-4 col-form-label">Methode payment contrat<span
              class="text-danger scale5 ms-2">*</span></label>
          <div class="col-xl-9 col-md-8">
            <select [class.is-invalid]="paymentLoyerRequest.get('methodePaymentContratLoyer')?.invalid && paymentLoyerRequest.get('methodePaymentContratLoyer')?.touched"
              formControlName="methodePaymentContratLoyer" class="form-control wide">
              <option value="">------</option>
              <option value="ESPECES" [selected]="'ESPECES' === paymentLoyerRequest.value.methodePaymentContratLoyer ">Espece</option>
              <option value="VIREMENT_BANCAIRE" [selected]="'VIREMENT_BANCAIRE' === paymentLoyerRequest.value.methodePaymentContratLoyer" >Virement bancaire</option>
              <option value="CHEQUE" [selected]="'CHEQUE' === paymentLoyerRequest.value.methodePaymentContratLoyer" >Cheque</option>
            </select>
            <div *ngIf="paymentLoyerRequest.get('methodePaymentContratLoyer')?.invalid && paymentLoyerRequest.get('methodePaymentContratLoyer')?.touched"
            class="text-danger">
            Methode payment contrat is required.
          </div>
          </div>
        </div>

          <div class="mb-3 row">
            <label for="role" class="col-xl-3 col-md-4 col-form-label">Contrats<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <select [class.is-invalid]="paymentLoyerRequest.get('contratId')?.invalid && paymentLoyerRequest.get('contratId')?.touched"
                formControlName="contratId" class=" form-control wide">
                <option value="">-----</option>
                <option *ngFor="let contrat of contrats" [value]="contrat.id">{{ contrat.refContrat }}</option>
              </select>
              <div>
                <div *ngIf="paymentLoyerRequest.get('contratId')?.invalid && paymentLoyerRequest.get('contratId')?.touched"
                class="text-danger">
                Contrat is required.
              </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onUpdatePaymentLoyer()">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="deletePaymentLoyer" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete payment contrat loyer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="paymentLoyerRequest">
          <p class="text-danger">Are you sure , You want to delete this ligne ?</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="onDeletePaymentLoyer()" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
