<div class="content-body">
  <div class="container-fluid">
    <div class="d-flex align-items-center flex-wrap search-job bg-white mb-4">
      <div class="col-xl-8 col-xxl-6 col-lg-6 col-12 d-md-flex job-title-search pe-0">
        <div class="input-group search-area">
          <input type="text" name="search" [(ngModel)]='searchText' class="form-control h-auto" placeholder="Search agence here...">
          <span class="input-group-text">
          </span>
        </div>
      </div>
    </div>
    <div class="d-sm-flex d-block justify-content-between align-items-center mb-4">
      <div class="card-action coin-tabs mt-3 mt-sm-0">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" (click)="filterByStatus('')">All Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" (click)="filterByStatus('CONTRAT_VENTE')">Contract vente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" (click)="filterByStatus('CONTRAT_LOUER')">Contract louer</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="d-flex align-items-center mb-4 flex-wrap">
      <h3 class="me-auto">Contracts</h3>
      <div>
        <a class="btn btn-primary me-3 btn-sm" (click)="initForm()" data-bs-toggle="modal" data-bs-target="#addContrat"><i
            class="fas fa-plus me-2"></i>Add New Contract</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="table-responsive">
          <table class="table display mb-4 dataTablesCard job-table table-responsive-xl card-table" id="example5">
            <thead>
              <tr>
                <th>No</th>
                <th>Reference contrat</th>
                <th>Type contrat</th>
                <th>Date signature</th>
                <th>Appartement</th>
                <th>Propreitaire</th>
                <th>Montant</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contrat of contratList | filter:searchText">
                <td>{{ contrat.id }}</td>
                <td>{{ contrat.refContrat }}</td>
                <td>
                  <span class="btn btn-sm btn-rounded"
                    [ngClass]="{'text-warning': contrat.typeContrat === 'CONTRAT_VENTE', 'text-success': contrat.typeContrat === 'CONTRAT_LOUER'}">
                    {{ contrat.typeContrat }}
                  </span>
                </td>
                <td>{{ contrat.dateSignature }}</td>
                <td>{{ contrat.appartement.referenceAppartement }}</td>
                <td>{{ contrat.propreitaire.userDto.firstname + ' , ' + contrat.propreitaire.userDto.lastname }}</td>
                <td>{{ contrat.montant }}</td>

                <td class="action-btn wspace-no">
                  <span>
                    <a href="javascript:void(0);" (click)="editContrat(contrat)" data-bs-toggle="modal"
                      data-bs-target="#editContrat"><i class="fas fa-edit text-warning"></i></a>
                  </span>
                  <span>
                    <a href="javascript:void(0);" (click)="deleteContrat(contrat)" data-bs-toggle="modal"
                      data-bs-target="#deleteContrat"><i class="far fa-trash-alt text-danger"></i></a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-between">
            <button class="btn btn-primary" (click)="previousPage()">Previous</button>
            <button class="btn btn-primary" (click)="nextPage()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- contrat save -->
<div class="modal fade" id="addContrat" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New contract</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contratRequest">
          <div class="mb-3 row">
            <label for="email" class="col-xl-3 col-md-4 col-form-label">Date signature<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="contratRequest.get('dateSignature')?.invalid && contratRequest.get('dateSignature')?.touched"
                formControlName="dateSignature" type="date" class="form-control" aria-label="dateSignature"
                placeholder="Date signature">
              <div *ngIf="contratRequest.get('dateSignature')?.invalid && contratRequest.get('dateSignature')?.touched"
                class="text-danger">
                Date signature is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="role" class="col-xl-3 col-md-4 col-form-label">Appartement<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <select [class.is-invalid]="contratRequest.get('appartementId')?.invalid && contratRequest.get('appartementId')?.touched"
                formControlName="appartementId" class="form-control wide">
                <option *ngFor="let appartement of appartements" [value]="appartement.id">{{ appartement.referenceAppartement }}</option>
              </select>
              <div>
                <div *ngIf="contratRequest.get('appartementId')?.invalid && contratRequest.get('appartementId')?.touched"
                class="text-danger">
                Appartement is required.
              </div>
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="role" class="col-xl-3 col-md-4 col-form-label">Propreitaire<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <select [class.is-invalid]="contratRequest.get('propreitaireId')?.invalid && contratRequest.get('propreitaireId')?.touched"
                formControlName="propreitaireId" class="form-control wide">
                <option value="">-----</option>
                <option *ngFor="let propreitaire of propreitaires" [value]="propreitaire.userDto.id">{{ propreitaire.userDto.firstname + ' , ' + propreitaire.userDto.lastname }}</option>
              </select>
              <div>
                <div *ngIf="contratRequest.get('propreitaireId')?.invalid && contratRequest.get('propreitaireId')?.touched"
                class="text-danger">
                Propreitaire is required.
              </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSaveContrat()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editContrat" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Contract</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contratRequest">
          <div class="mb-3 row">
            <label for="email" class="col-xl-3 col-md-4 col-form-label">Date signature<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <input
                [class.is-invalid]="contratRequest.get('dateSignature')?.invalid && contratRequest.get('dateSignature')?.touched"
                formControlName="dateSignature" type="date" class="form-control" aria-label="dateSignature"
                placeholder="Date signature">
              <div *ngIf="contratRequest.get('dateSignature')?.invalid && contratRequest.get('dateSignature')?.touched"
                class="text-danger">
                Date signature is required.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="role" class="col-xl-3 col-md-4 col-form-label">Appartement<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <select [class.is-invalid]="contratRequest.get('appartementId')?.invalid && contratRequest.get('appartementId')?.touched"
                formControlName="appartementId" class="form-control wide">
                <option *ngFor="let appartement of appartements" [value]="appartement.id" [selected]="appartement.id === contratRequest.value.appartementId">{{ appartement.referenceAppartement }}</option>
              </select>
              <div>
                <div *ngIf="contratRequest.get('appartementId')?.invalid && contratRequest.get('appartementId')?.touched"
                class="text-danger">
                Appartement is required.
              </div>
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="role" class="col-xl-3 col-md-4 col-form-label">Propreitaire<span
                class="text-danger scale5 ms-2">*</span></label>
            <div class="col-xl-9 col-md-8">
              <select [class.is-invalid]="contratRequest.get('propreitaireId')?.invalid && contratRequest.get('propreitaireId')?.touched"
                formControlName="propreitaireId" class="form-control wide">
                <option value="">-----</option>
                <option *ngFor="let propreitaire of propreitaires" [value]="propreitaire.userDto.id"
                [selected]="propreitaire.userDto.id === contratRequest.value.propreitaireId">
                  {{ propreitaire.userDto.firstname + ' , ' + propreitaire.userDto.lastname }}</option>
              </select>
              <div>
                <div *ngIf="contratRequest.get('propreitaireId')?.invalid && contratRequest.get('propreitaireId')?.touched"
                class="text-danger">
                Propreitaire is required.
              </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onUpdateContrat()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteContrat" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete appartement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contratRequest">
          <p class="text-danger">Are you sure , You want to delete this ligne ?</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="onDeleteContrat()" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
